<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layout/head'); %>
  </head>
  <body>
    <!-- popup for error state -->
    <div id="popup">
      <article id="error">
        <h3>Search product</h3>
        <p>Type in the barcode to find the product</p>
        <form method="GET" action="/product">
          <input type="text" id="searchField" name="query" />
          <input type="submit" value="Search" />
        </form>
        <p id="invalid_code" class="hidden">No product found</p>
      </article>
    </div>
  </body>
</html>
