<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layout/head'); %>
</head>

<body>
  <header></header>
  <main>
    <h1>THINK ABOUT YOUR ALLERGIES</h1>
    <p>Find the food that fits your diet, by searching the barcode of the products</p>
    <div id="buttons">
      <a href="/search" id="search-button">
        Start searching
      </a>
      <a href="/scan" id="scan-button">
        Start scanning
      </a>
    </div>
    <section id="result" class="moveToTop">
      <h2>No product searched yet.</h2>
      <h3>Use the search or scan function to get more information about the product.</h3>
    </section>
  </main>
</body>

</html>