<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <header></header>
    <main>
        <h2>Er ging iets mis</h2>
        <p>Het lijkt erop dat je geen internetverbinding hebt. Probeer de pagina te herladen of wacht een paar minuten.
        </p>
        <a href="/">Of ga terug naar de homepagina</a>
    </main>
</body>

</html>