<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <main>
        <h1><a href="/">THINK ABOUT YOUR ALLERGIES</a></h1>
        <p>Find the food that fits your diet, by scanning the barcode of the product</p>
        <h2>Scan the product</h2>
        <!-- video for scanning gets in this div -->
        <div id="scan"></div>
        <!-- loading icon -->
        <div class="loading" id="loading">
            <div class="loading-ring"></div>
        </div>
        <!-- red line while scanning -->
        <div id="redLine" class="hidden"></div>
    </main>
</body>

</html>