body {
  background: #7ea76c;
  background-image: url('../images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Copperplate', fantasy;
  scroll-behavior: smooth;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  color: black;
  margin: 0 0.5em;
  text-align: center;
}

main>h1 {
  font-size: 3em;
  margin: 0.2em 0;
  color: #1e352f;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: min(500px, 50vw);
  padding: 1em;
  background: white;
  color: rgb(90, 130, 72);
  border-radius: 2em;
  margin: 1em 0;
  font-family: 'Copperplate', fantasy;
  border: 0.1em solid black;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

button:hover,
button:focus {
  color: white;
  background: rgb(42, 151, 82);
}

input[type='button']:hover,
input[type='button']:focus {
  color: white;
  background: rgb(104, 16, 177);
}

input[type='button']:active {
  color: white;
  background: rgb(104, 16, 177);
  border: 0.2em solid black;
}

button:active {
  color: white;
  background: rgb(42, 151, 82);
  border: 0.2em solid black;
}

button:disabled {
  opacity: 50%;
  background: white;
  color: rgb(90, 130, 72);
}

video {
  display: block;
  margin-top: 0.5em;
  margin-left: 1em;
  object-fit: cover;
  height: 80vmin;
  width: 80vmin;
}

#product-image {
  max-width: 90vw;
}

h2 {
  color: #1e352f;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0;
  color: #205f2f;
}

.show {
  display: block;
}

.h2-notfound {
  color: #7d1a1a;
}

/* loading state */
.loading {
  display: none;
  position: absolute;
  top: 50%;
  font-size: 2em;
}

.loading-true {
  display: block;
}

.loading-ring {
  display: inline-block;
  width: 5em;
  height: 5em;
}

.loading-ring:after {
  content: ' ';
  display: block;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  border-radius: 50%;
  border: 0.4em solid #d9574e;
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#scan {
  height: 85vmin;
  width: 89vmin;
  background: linear-gradient(to right, black 0.25em, transparent 0.25em) 0 0, linear-gradient(to right, black 0.25em, transparent 0.25em) 0 100%,
    linear-gradient(to left, black 0.25em, transparent 0.25em) 100% 0, linear-gradient(to left, black 0.25em, transparent 0.25em) 100% 100%,
    linear-gradient(to bottom, black 0.25em, transparent 0.25em) 0 0, linear-gradient(to bottom, black 0.25em, transparent 0.25em) 100% 0,
    linear-gradient(to top, black 0.25em, transparent 0.25em) 0 100%, linear-gradient(to top, black 0.25em, transparent 0.25em) 100% 100%;
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
}

.moveToTop {
  margin-top: -1em;
}

li {
  list-style-type: none;
  margin-left: -2em;
}

#error {
  position: absolute;
  height: 50vmin;
  width: 75vmin;
  z-index: 1;
  background-color: white;
  color: black;
  left: 12vmin;
  top: calc(50vh - 50vmin / 2);
}

#error>* {
  margin: 1em auto;
  width: 60vmin;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='submit'] {
  background: #1e352f;
  color: white;
  border-radius: 2em;
  border: none;
  margin-top: 0.5em;
  padding: 0.8em;
  font-family: 'Copperplate', fantasy;
  font-size: 0.9em;
  width: 100%;
}

.hidden {
  display: none;
}

#redLine {
  position: absolute;
  width: 70vmin;
  border-bottom: 0.5em solid rgba(255, 0, 0, 0.7);
  animation: scanning ease-in-out 2s infinite;
}

@keyframes scanning {
  0% {
    top: 45%;
  }

  50% {
    top: 70%;
  }

  100% {
    top: 45%;
  }
}

input[type='text'] {
  margin-bottom: 0.8em;
}

#again {
  margin-right: -4em;
  color: rgb(90, 130, 72);
  margin-bottom: 1em;
}

#scan-button {
  margin-top: 1em;
  padding: 1em;
  background: #1e352f;
  color: white;
  border-radius: 2em;
  text-decoration: none;
}